.hoverlayer .hovertext {
    overflow: visible;
}

.hoverlayer .hovertext path {
    --shadow-colour-muted: color-mix(in srgb, var(--shadow-colour, var(--grey-500)) 85%, transparent);
    fill: var(--background-colour) !important;
    stroke: var(--background-colour) !important;
    filter: drop-shadow(0 4px 8px var(--shadow-colour-muted));
    stroke-width: 0.5em !important;
}

.hoverlayer .hovertext text {
    fill: var(--text-colour) !important;
}
