# Exclude secondary notebooks from GitHub Linguist language statistics
notebooks/01a_eda_qilt.ipynb linguist-generated=true
notebooks/01b_eda_abs.ipynb linguist-generated=true
notebooks/02a_analysis_qilt.ipynb linguist-generated=true
notebooks/02b_analysis_abs.ipynb linguist-generated=true
notebooks/05_extra_charts.ipynb linguist-generated=true
