@import url("./bootstrap-overrides.css");

:root {
    --amber-700: #A55A1f;
    --blue-700: #2F5D7E;
    --amber-500: #D08A3C;
    --blue-500: #5E88A8;
    --amber-300: #E7C48B;
    --amber-300-opaque: #E7C48B33;
    --blue-300: #AFC6D8;
    --blue-300-opaque: #AFC6D833;
    --grey-500: #a0a0a0;
    --text-colour: #1F2328;
    --background-colour: #FFFDF9;
}

body {
    font-family: "Source Sans 3", sans-serif; 
    background-color: var(--background-colour);
    font-size: 0.85rem;
}

main {
    margin: 7.5em;
}

.explanatory-modal {
   border-radius: 15px;
   padding: 8px;
}

.blue-modal {
    background-color: var(--blue-300-opaque);
    border: 1px solid var(--blue-500);
}

.amber-modal {
    background-color: var(--amber-300-opaque);
    border: 1px solid var(--amber-500);
}

.chart-container {
    display: flex;
    justify-content: center;
}

.chart {
    width: 100%;
    height: 100%;
}

#chart7Panel {
    width: 75%;
}

#chart7SubgroupComparator {
    width: 100%;
}

#chart7ExplanationCard {
    color: var(--text-colour);
    background-color: var(--background-colour);
    border-color: var(--grey-500);
}
